* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  color: #333;
}

header,
footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

form {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#preview-area {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
}

.card img {
  max-width: 100%; /* Membuat gambar */
  height: 400px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }

  form,
  #preview-area {
    flex: 1;
    max-width: 48%;
  }
}

#preview-area h2 {
  text-align: center;
}
